body {
    margin: 0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#particles-js {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
}

.wrapper {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.644);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0px;
    padding: 20px 0;
}

h1 a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0px;
    padding: 20px 0;
}

/* Header */

#showcase {
    min-height: 450px;
    text-align: center;
    color: #fff;
}

#showcase .bg-wrap {
    position: absolute;
    background: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
}

#showcase .bg-image {
    position: absolute;
    background: #333333 url('https://static.pexels.com/photos/114820/pexels-photo-114820.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.3;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
    letter-spacing: 5px;
}

#showcase .content-wrap, #section-a .content-wrap {
    padding: 0 1.5em;
}

/* Sectio A */

#section-a {
    background: #eaeaeaab;
    color: #333333;
    padding-bottom: 2em;
}

/* Sectio B */

#section-b {
    padding: 2em 1em 1em;
    background: #333333c4;
}

#section-b ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#section-b li {
    margin-bottom: 5px;
    background: rgb(255, 255, 255);
    color: #333333;
}

#section-b .card-button {
    color: #fff;
    background-color: rgb(75, 186, 230);
    padding: 5px;
    align-self: center;
    text-decoration: none;
    transition: 0.3s;
}

#section-b .card {
    padding-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 50%;

}

#section-b .card-button:hover {
    background-color: rgb(241, 74, 82);
}

.card-content {
    padding: 5px;
}

#section-b .headerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px dashed rgb(66, 66, 66);
    background: #ebebeb;
    font-size: 25px;
    font-family: 'Gloria Hallelujah', cursive;
}

/* Section C */

#section-c {
    padding: 2em;
    background: #eaeaeaab;
    color: #333333;
}

/* Section D */

#section-d .box {
    padding: 2em;
    color: #fff;
    background: #333333be;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-d .box:first-child {
    background: #2691d4cc;
}

#section-d .box a {
    text-decoration: none;
    color: firebrick;
    transition: 0.3s;
}

/* Footer */

#main-footer {
    padding: 2em;
    background: rgba(0, 0, 0, 0.849);
    color: #fff;
}

#main-footer a {
    text-decoration: none;
    color: #269de7;
}

/* Media Query */

@media (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }

    #section-a .content-text p {
        padding-top: 0;
    }

    .content-wrap, #section-b, ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-between;
    }
    #section-b li {
        width: 31%;
    }
}